
{{!-- Brians version  --}}

<div class="addbid-card">
    <h2 class="page-title display-5">Add a Bid</h2>
    <form class="form addbid-form">
      <div class="form-group">
        <label for="description-addbid">Description:</label>
        <input class="form-input" type="text" id="description-addbid" />
      </div>
      <div class="form-group">
        <label for="amount-addbid">Bid Amount ($):</label>
        <input class="form-input" type="number" id="amount-addbid" />
      </div>
        <input type="hidden" id="projID-addbid" name="projID-addbid" value="{{bidForm.id}}">
      <div class="form-group">
        <button class="btn btn-accent text-light" type="submit">Submit</button>
      </div>
    </form>
  </div>
<script src="/js/addbid.js"></script>
