  <div class="addproject-card">
    <h2 class="page-title">Add a Project</h2>
    <form class="form addproject-form">

      <div class="form-group">
        <label for="name-addproject">Project Name:</label>
        <input class="form-input" type="text" id="name-addproject" />
      </div>

      <div class="form-group">
        <label for="description-addproject">Description:</label>
        <input class="form-input" type="text" id="description-addproject" />
      </div>

      <div class="form-group">
        <label for="start_amount-addproject">needed funding ($):</label>
        <input class="form-input" type="number" id="starting_price-addproject" />
      </div>

      <div class="form-group">
        <button class="btn btn-primary" type="submit">Submit</button>
      </div>

    </form>
  </div>

<script src="./js/addProject.js"></script>