<div class="text-center">
  <h2>{{project.name}}</h2>
  <p>{{project.description}}</p>
  <p>Created by {{project.user.name}} on {{format_date project.date_created}}</p>
  <button type="button" onclick=window.location.href='/bid/' class="btn btn-accent m-2 text-light">Create Bid</button>
    <section>
      {{#each project.bids as |bid|}}
      {{> bid-details}}
      {{/each}}
    </section>
</div>
