<div class="text-center">
  <h2>{{project.name}}</h2>
  <p>{{project.description}}</p>
  <p>Created by {{project.user.name}} on {{format_date project.date_created}}</p>
    <section>
      {{#each project.bids as |bid|}}
      {{> bid-details}}
      {{/each}}
    </section>
</div>
