<div class="justify-content-center text-dark">
    <h2 class="display-5">Signup</h2>

    <form class="form signup-form ">
        <div class="">
            <label for="validationCustom04" class="form-label">What tier user are you?</label>
            <select class="form-select" id="validationCustom04" required>
                <option selected disabled value="">Choose...</option>
                <option value="false">Client</option>
                <option value="true">Freelancer</option>
            </select>
        </div>
        <div class="form-group">
            <label for="name-signup">Name:</label>
            <input class="form-input" type="text" id="name-signup" />
        </div>
        <div class="form-group">
            <label for="email-signup">Email:</label>
            <input class="form-input" type="text" id="email-signup" />
        </div>
        <div class="form-group">
            <label for="password-signup">Password:</label>
            <input class="form-input" type="password" id="password-signup" />
        </div>
        <div class="form-group">
            <button class="btn btn-accent text-light" type="submit">Signup</button>
        </div>
    </form>
</div>
</div>

<script src="./js/signup.js"></script>

