
body {
  background-color: #e0e0e0 !important;
  color: #0A0F0D important;
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
      opacity: .5;
  }
  100% {
      opacity: 1;
   }
}

.bg-light {
  background-color: #e0e0e0 !important;
}

.bg-primary {
  background-color: #0e0b16 !important;
}


.text-light {
  color: #dde1e7 !important;
}

.text-dark {
  color: #0e0b16 !important;
}

.btn-accent {
  background-color: #8e13be !important;
}

btn-accent2 {
  background-color: #4717f6 !important;
}

.accent {
  color: #8e13be !important;
}

a {
  color: inherit; 
}

